<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://classless.de/classless-tiny.css" />
    <title>{{ page.title }}</title>
    <style>
        body{
            padding: 0 .6rem 3rem;
        }

        h1{
            margin: 1.5em 0;
        }

        h2{
            font-variant-caps: unset;
            font-size: 1.5em;
            margin-top: 2.5em;
        }

        h3{
            font-size: 1em;
            margin-top: 2.5em;
            font-style: italic;
        }
    </style>
</head>
<body>
    {{ content }}
</body>
</html>
